<h3>Basic usage</h3>
<p>The directive is very easy to use. The minimal working usage looks like that:</p>
<div class="example text-muted" transiterate="value"></div>
<hljs><div transiterate="value"></div></hljs>
<p>Where <code>value</code> is any numerical value bound to <code>$scope</code>. The directive sets the element's content to the supplied values and animates any changes.</p>

<h3>Optional attributes</h3>

<h4>duration</h4>
<p>Sets the animation duration in miliseconds. Default is 800. <b>It's very important to set this to lower than the shortest expected value change interval.</b></p>
<div class="example text-muted" transiterate="value" duration="3000"></div>
<hljs><div transiterate="value" duration="3000"></div></hljs>

<h4>easing</h4>
<p>Sets the easing method. This can be any of the Robert Penner's easing functions. Default it "linearEase".</p>
<div class="example text-muted" transiterate="value" easing="easeInOutExpo"></div>
<hljs><div transiterate="value" easing="easeInOutExpo"></div></hljs>

<h4>precision</h4>
<p>Sets how precisely should floating numbers be displayed. Default is 0 (display as rounded integers). This parameter is used only when no filter is selected. <b>Setting this to -1 disables rouding completly.</b></p>
<div class="example text-muted" transiterate="value" precision="2"></div>
<hljs><div transiterate="value" precision="2"></div></hljs>
<div class="example text-muted" transiterate="value" precision="-1"></div>
<hljs><div transiterate="value" precision="-1"></div></hljs>

<h4>filter</h4>
<p>Sets which angular filter the directive should use for display. Default is none. If a filter requires parameters, they should be passed like that: <code>number:3</code>.</p>

<p>This example sets the filter to number with optional fractionSize parameter.</p>

<div class="example text-muted" transiterate="value" filter="number:3"></div>
<hljs><div transiterate="value" filter="number:3"></div></hljs>

<p>This example sets the filter to currency without optional parameters.</p>

<div class="example text-muted" transiterate="value" filter="currency"></div>
<hljs><div transiterate="value" filter="currency"></div></hljs>

<h3>Setting default values</h3>

<p>If you have a lot of instances of the directive and they all are supposed to behave the same, setting their options via attributes may become troublesome. This is where the <code>trainsiterateDefaultsProvider</code> comes in. It enables you to set default values for all directive instances across your application/page. They can still be overriden with attributes when needed.</p>
<p>The provider is available for injection in the <code>app.config()</code> block. The values are set with the <code>.setDefault(option, value)</code> method. The directive then uses the service internally to read the values.</p>

<hljs>
angular.module('myApp', ['ngTransiterate'])
  .config(function(transiterateDefaultsProvider) {
    transiterateDefaultsProvider.setDefault('duration', 3000);
});
</hljs>

<p>You can set any of the options described above and chain calls to the <code>.setDefault(option, value)</code> method, like so:</p>

<hljs>
angular.module('myApp', ['ngTransiterate'])
  .config(function(transiterateDefaultsProvider) {
    transiterateDefaultsProvider
      .setDefault('duration', 6000)
      .setDefault('easing', 'easeOutQuad')
      .setDefault('filter', 'number:3');
});
</hljs>
