<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="exampleApp" ng-controller="mainController">

    <div
      class="value"
      transiterate="val"
      filter="number"
      duration="1000"
      filter-param="0">
    </div>

    <div ng-bind="val | number:0"></div>

    <a href="" ng-click="add()">Add money</a>
    <a href="" ng-click="val = 0">Reset</a>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
    <script src="../dist/ng-transiterate.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>